
.cover-container {
  max-width: 42em;
}


.nav-masthead .nav-link {
  padding: .5rem 0;
  font-weight: 700;
  color: rgb(253, 253, 253);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  padding-top: 30%;

}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgb(255, 255, 255);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.nav2 {
  padding-top: 7%;

}

.nav1 {
  padding-top: 20%;

}

.nav3 {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.nav3 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.nav4 {

  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 35px;
	height: 0;
}

.nav4 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container {
  position: relative;
  

}

.foto {
  
  position: absolute;
  padding-top: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  padding-top: 2%;

}

.m-close {
  color: #2bdfd0;
  font-size: 2rem;
  font-weight: bold;
}

div span {
    display: inline-block;
    vertical-align: middle;
}


